html,
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 3rem);

  > div:first-child {
    border-right: 1px solid #d9d9d9;
  }

  > div {
    padding: 0.5rem;
  }
}

div:has(> label) {
  margin: 1rem 0;
  display: flex;

  label {
    font-weight: bold;
    width: 8rem;
  }

  input + .error-msg {
    color: red;
    margin: 0;
  }
}
