html,
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 1.5rem);

  > div:first-child {
    border-right: 1px solid #d9d9d9;
  }

  > div {
    padding: 0.5rem;
  }
}
